name: CI Main Branch

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  create-images:
    name: Generate and push images
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0
        recursive: true
          
    - name: Setup Node (latest LTS)
      uses: actions/setup-node@v4
      with:
        node-version: "lts/*"
        registry-url: "https://registry.npmjs.org"
        cache: "pnpm"

    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: latest
        run_install: false

    - name: Install dependencies
      run: pnpm install

    - name: Build
      run: pnpm build

    - name: Pack (sanity check)
      run: npm prepack

    - name: Publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: npm publish --access public
